/* Demonstrate how conflicting rules are resolved by the browser
   Outcome :=> The <p> tag will have the color of 
   Why :=> Because
*/

body {
  background-color: #313030;
}

h1 {
  color: #e0e0e0;
}

p {
  color: blue;
  background-color: lightgray;
}

.mango {
  color: green;
  background-color: lightyellow;
}

#oatmeal {
  color: red;
  background-color: lightpink;
}
